{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["tw"],
    "tailwindPreserveWhitespace": true,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120
}
